{% extends "layout.html" %}

{% block content %}

<form method="POST">

    <select name="conductor_id">

        {% for c in conductores %}

            <option value="{{ c.id }}"
                {% if c.id == adelanto.conductor_id %}
                    selected
                {% endif %}
            >
                {{ c.nombre }}
            </option>

        {% endfor %}

    </select>

    <input type="number"
           step="0.01"
           name="monto"
           value="{{ adelanto.monto }}">

    <input type="date"
           name="fecha"
           value="{{ adelanto.fecha }}">

    <input type="text"
           name="descripcion"
           value="{{ adelanto.descripcion }}">

    <button type="submit">
        Guardar
    </button>

</form>

{% endblock %}