{% extends "layout.html" %}

{% block content %}

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h2>Gastos mensuales</h2>
    <div style="text-align: right;">
        <a href="/vehiculos">
            <button>volver</button>
        </a>
    </div>
</div>

<div style="margin-bottom: 15px;">
    <a href="/mecanica" class="btn">Ver Gastos de Mecánica</a>
</div>

<!-- 📅 Selector de mes -->
<form method="GET">
    <input type="month" name="mes" value="{{ mes }}">
    <button type="submit">Ver</button>
</form>

<br>

<div class="card">
    <table class="tabla-gastos">
        <tr style="background:#eee;">
            <th>Auto</th>
            <th>Dominio</th>
            <th>Patente</th>
            <th>Seguro</th>
            <th>VTV</th>
            <th>Satelital</th>
            <th>Mecánica</th>
            <th>Total</th>
            <th>Guardar</th>
        </tr>

        {% for d in datos %}
        <tr>
            <form method="POST">

                <td>{{ d.auto }}</td>
                <td>{{ d.patente }}</td>

                <!-- ocultos -->
                <input type="hidden" name="vehiculo_id" value="{{ d.id }}">
                <input type="hidden" name="mes" value="{{ mes }}">

                <td>
                    <input type="number" name="patente" value="{{ d.patente_gasto }}">
                </td>

                <td>
                    <input type="number" name="seguro" value="{{ d.seguro }}">
                </td>

                <td>
                    <input type="number" name="vtv" value="{{ d.vtv }}">
                </td>

                <td>
                    <input type="number" name="satelital" value="{{ d.satelital }}">
                </td>

                <td>
                    <a href="/mecanica?vehiculo_id={{ d.id }}&mes={{ mes }}">
                        {{ d.mecanica }}
                    </a>
                </td>

                <!-- TOTAL -->
                <td>
                    {{
                        (
                            d.patente_gasto
                            + d.seguro
                            + d.vtv
                            + d.satelital
                            + d.mecanica
                        ) | round(2)
                    }}
                </td>

                <td>
                    <button type="submit">💾</button>
                </td>

            </form>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}