{% extends "layout.html" %}

{% block content %}

<h1>📊 Panel de Gestion Pijos SRL</h1>

<div class="card">
    <div style="display: inline-block; padding-right:42px ;">
        <h3>👨‍✈️ Conductores</h3>
        <p>Gestionar conductores</p>
        <a href="/conductores">Ir</a>
    </div>
    <div style="display: inline-block;">
        <h3>🕒 Turnos</h3>
        <p>Asiganciones de turnos</p>
        <a href="/asignaciones">Ir a  Asignaciones</a>
    </div>
</div>

<div class="card">
    <h3>💰 Adelantos</h3>
    <p>Control de adelantos</p>
    <a href="/adelantos">Ir</a>
</div>

<div class="card">
    <h3>🚗 Vehículos</h3>
    <p>Gestionar vehiculos</p>
    <div>
        <a href="/vehiculos" style="display: inline-block; margin-right: 10px;">Vencimientos</a>
        <a href="/gastos" style="display: inline-block; margin-right: 10px;" >Gastos</a>
        <a href="/mecanica" style="display: inline-block;">Mecanica</a>
    </div>
</div>

<div class="card">
    <h3>⚠️ Infracciones</h3>
    <p>Control de multas</p>
    <div>
        <a href="/infracciones" style="display: inline-block; margin-right: 10px;">Registrar infracion</a>
        <a href="/infracciones_asignadas" style="display: inline_block; margin-right: 10px;">Infracciones por conductor</a>
    </div>
</div>

{% endblock %}