{% extends "layout.html" %}

{% block content %}
<div style="display: flex; justify-content: space-between; align-items: center; ">
    <h2>Detalle de Infracciones de: {{ nombre }}</h2>
    <div style="text-align: right; padding: 10px;" >
        <a href="/infracciones_asignadas">
            <button>volver</button>
        </a>
    </div>
</div>

<table>
    <tr>
        <th>Patente</th>
        <th>Numero</th>
        <th>Fecha</th>
        <th>Hora</th>
        {% if es_sin_asignar %}
            <th>turno ant</th>
            <th>Turno sig</th>
            <th>Asignar</th>
        {% endif %}
        <th>Monto</th>
        <th>Estado</th>
        <th>Marcar paga</th>
        <th>Eliminar</th>
        <th>Archivos</th>
    </tr>

    {% for i in infracciones %}
    <tr>
        <td>{{ i.patente }}</td>
        <td>{{ i.numero }}</td>
        <td>{{ i.fecha }}</td>
        <td>{{ i.hora }}</td>
        {% if es_sin_asignar %}
             <td>{{ i.anterior }}</td>
             <td>{{ i.siguiente }}</td>
             <td>
                <form method="POST" action="/asignar_infraccion/{{ i.id }}">
                    <select name="conductor_id">
                        <option value="">Seleccionar conductor</option>
                        {% for c in conductores %}
                            <option value="{{ c.id }}">{{ c.nombre }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Asignar</button>
                </form>
            </td>
        {% endif %}
        <td>{{ i.monto }}</td>
        <td>
            {% if i.pagada %}
                <span style="color:green;">Pagada</span>
                <br>
                <small>
                    {{ i.fecha_pago[:10].split('-')|reverse|join('/') if i.fecha_pago else '' }}
                </small>
            {% else %}
                <span style="color:red;">Pendiente</span>
            {% endif %}
        </td>
        <td>
        
            <form method="POST" action="{{ url_for('marcar_pagada', id=i.id) }}">
        {% if not i.pagada  %}        
                <button type="submit">Marcar pagada</button>
            </form>
        {% else %}

            <button type="submit" style="opacity: 0,5;">Desmarcar</button>
            
        {% endif %}
        
      </td>
        
        <td>
            <a href="/eliminar_infraccion/{{ i.id }}">
                <button>🗑️</button>
            </a>
        </td>
        <td>

            <button
                type="button"
                onclick="toggleArchivos('{{ i.id }}')"
            >
                📎 Fotomultas ({{ i.archivos|length }})
            </button>

        </td>
        

    </tr>

    <tr
    id="archivos-{{ i.id }}"
    style="display:none;"
>
    <td colspan="20">

        {% for a in i.archivos %}

            <div style="margin:5px 0;">

                <a
                    href="{{ a.url }}"
                    target="_blank"
                >
                    👁️ {{ a.nombre_archivo }}
                </a>

            </div>

        {% endfor %}

    </td>
</tr>

    {% endfor %}

</table>

<script>

function toggleArchivos(id){

    let fila =
        document.getElementById(
            "archivos-" + id
        );

    if(fila.style.display === "none"){

        fila.style.display = "table-row";

    }else{

        fila.style.display = "none";

    }
}

</script>

{% endblock %}