{% extends "layout.html" %}

{% block content %}

<h2>Peajes</h2>

<div >
    <div class="mb-3">
    <label class="form-label">Autopista</label>

    <select
        name="autopista"
        class="form-select"
        required
    >
        <option value="">Seleccionar...</option>

        <option value="AU 25 DE MAYO">
            AUTOPISTAS URBANAS
        </option>

        <option value="PERITO MORENO">
            ACCESO OESTE
        </option>

        <option value="ILLIA">
            AU. BS AS - LA PLATA
        </option>

        <option value="BUEN AYRE">
            BUEN AYRE
        </option>

        <option value="PANAMERICANA">
            ACCESO NORTE
        </option>

        <option value="PANAMERICANA">
            ACCESO RICCHERI
        </option>

    </select>
</div>

    <form method="POST" enctype="multipart/form-data">

        <input
            type="file"
            name="archivo"
            accept=".csv"
            required
        >

        <button type="submit">
            Subir CSV
        </button>

    </form>

</div>
<hr>

<br>

<div >

    <form method="GET">

        <label>Desde:</label>

        <input
            type="date"
            name="desde"
            value="{{ desde or '' }}"
        >

        <label>Hasta:</label>

        <input
            type="date"
            name="hasta"
            value="{{ hasta or '' }}"
        >

        <button type="submit">
            Filtrar
        </button>

    </form>

</div>

<br>

<div>

    <h3>Resumen por conductor</h3>
    <p>
        <strong>Cantidad total:</strong>
        {{ totales.cantidad_total }}
    </p>

    <p>
        <strong>Total peajes:</strong>
        ${{ totales.monto_total }}
    </p>

    <table >

        <tr>
            <th>Conductor</th>
            <th>Cantidad</th>
            <th>Total</th>
        </tr>

        {% for r in resumen %}

        <tr>

            <td>{{ r.conductor }}</td>

            <td>{{ r.cantidad }}</td>

            <td>${{ r.total }}</td>

        </tr>

        {% endfor %}

    </table>

    <div>

    <h3>
        Peajes sin conductor:
        {{ sin_conductor|length }}
    </h3>

    {% if sin_conductor %}

    <table>

        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Patente</th>
            <th>Tarifa</th>
            <th>Autopista</th>
            <th>Estacion</th>
        </tr>

        {% for r in sin_conductor %}

        <tr style="background:#fadfdf;">

            <td>{{ r.fecha }}</td>
            <td>{{ r.hora }}</td>
            <td>{{ r.patente }}</td>
            <td>${{ r.tarifa }}</td>
            <td>{{ r.autopista }}</td>
            <td>{{ r.estacion }}</td>

        </tr>

        {% endfor %}

    </table>

    {% else %}

    <p>
        ✅ Todos los peajes tienen conductor asignado.
    </p>

    {% endif %}

</div>

<br>

</div>

<br>

<div >

<table >

    <tr>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Patente</th>
        <th>Tarifa</th>
        <th>Autopista</th>
        <th>Estacion</th>
        <th>Conductor</th>
    </tr>

    {% for r in registros %}

    <tr>

        <td>{{ r.fecha }}</td>
        <td>{{ r.hora }}</td>
        <td>{{ r.patente }}</td>
        <td>${{ r.tarifa }}</td>
        <td>{{ r.autopista }}</td>
        <td>{{ r.estacion }}</td>
        <td>{{ r.conductor or "-" }}</td>
        

    </tr>

    {% endfor %}

</table>

</div>

{% endblock %}